.Btn {
  margin: 10px;
}

/* .ActorsItem {
  width: 200px;
  height: 200px;
} */

.btnS {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: aliceblue;
  background-color: rgb(236, 99, 49);
  border-style: none;
  margin-left: 10px;
}
