.linkHead {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: x-large;
  color: blueviolet;
}

.activeLink {
  composes: linkHead;
  color: rgb(158, 94, 153);
}
